<div class="content" role="main">
  <!-- Add Grant -->
  <h2> Add Grant</h2>

  <div>
    {{ text }}
  </div>

  <div class="card-container">
    <!-- Angular Form using form controls.
         The submit button is disabled if the form is not valid. -->
    <form id="grant-form" [formGroup]="grantForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label class="center-block">Name:
          <input class="form-control" type="text" formControlName="name">
        </label>
        <label class="center-block">Grantor
          <input class="form-control" type="text" formControlName="grantor">
        </label>
        <label class="center-block">Amount:
          <input class="form-control" type="number" formControlName="amount">
        </label>
      </div>
      <button style="margin-left: 20px; margin-top: 30px;" type="submit" [disabled]="!grantForm.valid"
        class="btn btn-success">Save</button>
    </form>
  </div>
</div>
