button {
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

footer {
  // position: absolute;
  // bottom: 0;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  line-height: 20px;
}
