<!-- Header -->
<app-header></app-header>


<div class="content" role="main">
  <!-- Resources -->
  <h2>Grants</h2>
  <p>Here is the list of Grants</p>

  <div class="card-container">
    <div class="card">
      <span>USAID | $USD 1000
        <button>Delete</button>
      </span>
    </div>
    <div class="card">
      <span>USAID | $USD 1000
        <button>Delete</button>
      </span>
    </div>
    <div class="card">
      <span>USAID | $USD 1000
        <button>Delete</button>
      </span>
    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>

  <!-- Clouds -->
  <app-clouds></app-clouds>


</div>

<router-outlet></router-outlet>
